main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-main{
    flex: 0 1 150px;;
    margin: 5px;
}



.column{
    width: 50%;
}



/*nav styles*/
.navcontainer{
    display: flex;
    justify-content: space-between;
    padding: 26px;
} 

.left-side{
    text-transform: uppercase;
    display: flex;
}

.branding-name{
    font-size: 1.5em;  
}

.branding-title{
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 9px
    
}

.navcontainer > .left-side > .branding-name > .branding-title > div{
    margin-right: 20px;
    font-size: 0.9em;
}

.right-side{
    text-transform: uppercase;
    display: flex;
}

.nav-links{
    height: 32px;
    font-size: 0.9em;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-links a{
    color: #669999;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-links:hover{
    border-bottom: 0.8px solid black
}

.nav-links a:hover{
    color: black
}