.about-row{
    display: flex;
    margin: 80px;
    align-items: center;
    color: #065360;
}

.about-paragraph{
   justify-items: center;
   justify-content: center;
}

.cocktail-lounge{
    display: flex;
    margin-left: 120px;
}



/*index body styles*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body{
    height: 100vh;
}
.container-main{
    flex: 0 1 150px;;
    margin: 5px;
}

.myRow{
    height: auto;
    max-height: 95%;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    
}

.myContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width:  90%;
}
.column{
    width: 50%;
}




/*nav styles*/
.navcontainer{
    display: flex;
    justify-content: space-between;
    padding: 26px;
} 

.left-side{
    text-transform: uppercase;
    display: flex;
}

.branding-name{
    font-size: 1.5em;
    padding: 7px;  
}

.parrot{
    position: relative;
    
}

.branding-title{
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 15px
    
}

.navcontainer > .left-side > .branding-name > .branding-title > div{
    margin-right: 20px;
    font-size: 0.9em;
    
}

.right-side{
    text-transform: uppercase;
    display: flex;
}

.nav-links{
    height: 32px;
    font-size: 0.9em;
    display: flex;
    padding: 15px;
    border-bottom: 6px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-links a{
    color: #669999;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-links:hover{
    padding: 15px;
    border-bottom: 0.8px solid black
    
}

.nav-links a:hover{
    color: black
}